<div class="container py-5">
    <h2 class="mb-4">Dashboard Pelanggan</h2>

    <div class="row g-4">

        <div class="col-md-6">
            <div class="card shadow p-4">
                <h5>Total Laporan Gangguan</h5>
                <h2>{{ total_gangguan }}</h2>

                {% if gangguan_terakhir %}
                    <p>Status Terakhir: 
                        <strong>{{ gangguan_terakhir.status }}</strong>
                    </p>
                {% endif %}

                <a href="{% url 'gangguan' %}" class="btn btn-danger">
                    Buat Laporan
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow p-4">
                <h5>Total Pembayaran</h5>
                <h2>{{ total_pembayaran }}</h2>

                {% if pembayaran_terakhir %}
                    <p>Status Terakhir:
                        <strong>{{ pembayaran_terakhir.status }}</strong>
                    </p>
                {% endif %}

                <a href="{% url 'bayar' %}" class="btn btn-success">
                    Konfirmasi Pembayaran
                </a>
            </div>
        </div>

    </div>
</div>
